<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Editar Restaurante</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="editrestaurant">
			<h1>Registrar Restaurante</h1>
			<form action="{{ url_for('editrestaurant') }}" method="post" autocomplete="off">
				<label for="rid">
					<i class="fas fa-user"></i>
				</label>
				<input type="bytes" name="rid" placeholder="Id do Restaurante" id="rid" required>
				<label for="name">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="name" placeholder="Nombre del Restaurante" id="name" required>
				<label for="country">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="country" placeholder="País" id="country" required>
				<label for="type">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="type" placeholder="Tipo de Restaurante" id="type" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Editar">
			</form>
		</div>
	</body>
</html>